.infoContacto{
    padding: 0 200px;
    h2{
        font-size: 40px;
    }
    li{
        font-size: 25px;
    }
}

.containerRedes h3{
    font-size: 40px;
    text-align: center;
}

.socialMedia{
    display: flex;
    justify-content: center;
}

.socialMedia img{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-inline: 40px;
    margin-bottom: 20px;
    transition: width 0.3s, height 0.3s;


        &:hover{
            width: 120px;
            height: 120px;
        }
}